:root {
    --background: black;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}


section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(360px, 1fr);
    place-items: center;
    gap: 2em;
}